go 1.21.6

use (
	./concurrency-patterns/truning-off-a-case-in-a-select
	./cording-rule
	./database-sql-practice
	./echo-practice
	./http-client-error-handling-practice
	./rabbitmq-tutorials
	./standard-library
	./unexported-exported
	./validator-practice
	./visualizing-concurreucy
	./dbr-postgres-practice
)
